.mainContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 2;
    pointer-events: none;
}
@media(min-width: 900px){
    .mainContainer{
        display: none;
    }
}

.close{
    position: absolute;
    top:10px;
    right: 10px;
    overflow: hidden;
    width: 10px;
    height: 10px;
    border-radius: 20%;
    opacity: 0;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}
.open{
    position: absolute;
    top:0px;
    right: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: 0.5s ease-in-out;
    pointer-events: auto;
}
.nav{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background: url(../../public/bkmm.png) #fff;
    background-size: 400px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: var(--roboto);
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}
.nav li{
    color: #4c0372;
    display: block;
    margin: 60px 0px;
}

.mainContainer button{
    position: absolute;
    background-color: var(--bk-yellow);
    border: solid black 3px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
}
.bars{
   fill: black;
}

.selector{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--bk-purple);
    display: flex;
    align-items: center;
    justify-content: center;
    /* clip-path: circle(55px at center 25vh); */
    transition: clip-path 1s;
}
.selector li{
    color: white;
}
.closeSelector{
    display: none;
}

.language{
    /* border: solid red; */
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.language button{
    position: initial;
    margin: 0px 5px;
    padding: 0px;
    border: none;
    /* margin: auto; */
    background-color: white;
    width: 20px;
    height: 20px;
}
.selected{
    border-radius: 0px !important;
    background-color: black !important;
    width: 30px !important;
    height: 30px !important;
    color: white;
}