.mainContainer{
    position: fixed;
    left: 10px;
    bottom: 20px;
    width: 100%;
}
.nav{
    display: block;
    width: fit-content;
}
@media(max-width:900px){
    .mainContainer{
        display: none;
    }
}
.nav ul{
    margin: 0px;
    padding: 0px 10px 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: fit-content;
    list-style: none;
    font-weight: lighter;
    font-size: 1.2rem;
    position: relative;
}
.nav li{
    color: white;
    margin-left: 5px;
    mix-blend-mode: exclusion;
}
.nav ul::after{
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left: 0px;
    z-index: -1;
}

.projects{
    position: absolute;
    width: 90px;
    height: 40px;
    background-color: black;
    top: calc(50% - 20px);
    z-index: -1;
    transition: margin-left 0.5s;
    animation: projects 0.5s ease-out;
}

.about{
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: black;
    top: calc(50% - 20px);
    margin-left: 80px;
    z-index: -1;
    transition: margin-left 0.5s;
    animation: about 0.5s ease-out;
}

.contact{
    position: absolute;
    width: 95px;
    height: 40px;
    background-color: black;
    top: calc(50% - 20px);
    margin-left: 145px;
    z-index: -1;
    transition: margin-left 0.5s;
    animation: contact 0.5s ease-out;
}
.language{
    position: absolute;
    top:0px;
    right: 20px;
    height: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.language button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    pointer-events: auto;
}
.selected{
    background-color: black !important;
    height: 30px;
    color: white;
    pointer-events: none !important;
}

@keyframes projects{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes about{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}
@keyframes contact{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}