.sectionContainer{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}
.eleContainer{
    margin: 2% 20% 0px 25%;
    /* border: solid; */
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
    pointer-events: none;
}

.eleContainer:hover {
    transform: scale(0.95);
    transition: transform 0.2s;

}

.titleContainer{
    width: fit-content;
    padding: 20px 50px;
    background-color: var(--bk-yellow);
    border: solid black 5px;
    cursor: pointer;
    pointer-events: auto;
    z-index: 1;
}
.titleContainer h1{
    font-family: var(--arvo);
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}
.titleContainer h2{
    margin: 0px;
    font-weight: lighter;
    text-align: right;
}

.imageContainer{
    width: 80%;
    background-color: var(--bk-purple);
    border: solid black 5px;
    padding: 50px;
    align-self: flex-end;
    transform: translateY(-30px);
    cursor: pointer;
    pointer-events: auto;
}

@media(max-width: 1000px){
    .sectionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .eleContainer{
         margin: 0px 10%;
     }
}
@media(orientation: portrait){
    .sectionContainer{
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .eleContainer{
         margin: 0px 10%;
     }
}
@media(max-width: 700px){
    .imageContainer{
        padding: 30px;
        transform: translateY(-20px);
    }
    .titleContainer{
        width: fit-content;
        padding: 15px 30px;
        background-color: var(--bk-yellow);
        border: solid black 5px;
    }
}
@media(max-width: 500px){
    .titleContainer h1{
        font-size: 2rem;
    }
    .titleContainer h2{
        font-size: 1.2rem;
    }
    .imageContainer{
        width: 90%;
    }
}
@media(max-width: 350px){
    .titleContainer h1{
        font-size: 1.5rem;
    }
    .titleContainer h2{
        font-size: 1rem;
    }
    .imageContainer{
        padding: 20px;
    }
}
@media(max-height:450px){
    .eleContainer{
        margin: 0px 20%;
    }
    .titleContainer h1{
        font-size: 1.5rem;
    }
    .titleContainer h2{
        font-size: 1rem;
    }
}
@media(max-height:300px){
    .titleContainer{
        padding: 7px 20px;
    }
    .eleContainer{
        margin: 0px 25%;
    }
}
