.container{
    /* height: 900vh; */
    overflow-x: hidden;
}

.home, .transition, .project, .about, .contact{
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
}
/* .home, .about, .contact{
    background-color: green;
}
.transition{
    background-color: blue;
}
.project{
    background-color: red;
} */